@keyframes button-effect {
    25% {
        scale: 1.2;
    }

    50% {
        scale: 1;
    }

    75% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}

.chad {
    transition-property: background-color color text-decoration;
    transition-duration: 200ms;
    cursor: pointer;
    color: #e990a4;
}

.chad:hover {
    color: white;
}

.top-button {
    transition-property: color background-color scale opacity;
    transition-duration: 300ms;
    color: #e990a4;
}

.top-button:hover {
    scale: 1.2;
    color: #f1d233;
}

.medium-link {
    font-size: larger;
}

.app-link {
    color: black;
    background: transparent;
    border: 2px solid black;
    cursor: pointer;
    padding: 10px 14px;
    font-size: 26px;

    transition-property: background-color scale;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.app-link--login {
    width: 40%;
}

.app-link:hover {
    scale: 1.1;
    background-color: black;
    color: white;
}

.app-link--filled {
    background-color: black;
    color: white;
}

.app-link--filled:hover {
    scale: 1;
    animation-name: button-effect;
    animation-duration: 800ms;
}

.address-link {
    border: none;
    text-decoration: none;
    line-height: 150%;
}

.address-link:hover {
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}
