.home_page_banner {
    transition-property: opacity;
    transition-duration: 200ms;
}

.home_page_banner--hide {
    opacity: 0%;
}

.carousel {
    border-radius: 10px !important;
    overflow: visible !important;
}

.carousel img {
    overflow: visible !important;
}

.carousel-item {
    border-radius: 10px !important;
    background-color: red !important;
    overflow: visible !important;
    clip: unset !important;
}

/* {fc|kk nnkfr fcuea}
                /* <h1 style={shlokaStyle}>विद्यां ददाति विनयं</h1> */
/* Shusha */
/* <h1 style={shlokaStyle}>ivaVa ddait ivanayaM</h1> */

/* Pankaj */
/* <p style={shlokaStyle}>fc|kk nnkfr fcuea</p> */

/* Samarkan */
