.home_page_banner {
    transition-property: opacity;
    transition-duration: 200ms;
}

.home_page_banner--hide {
    opacity: 0%;
}

/* {fc|kk nnkfr fcuea}
                /* <h1 style={shlokaStyle}>विद्यां ददाति विनयं</h1> */
/* Shusha */
/* <h1 style={shlokaStyle}>ivaVa ddait ivanayaM</h1> */

/* Pankaj */
/* <p style={shlokaStyle}>fc|kk nnkfr fcuea</p> */

/* Samarkan */
